server:
  listen_point: 127.0.0.1:8085
  log_info_path: /var/log/vermouth_info.log
  log_err_path: /var/log/vermouth_err.log
  ca_trust_cache: /var/lib/vermouth/cache/ca_cache.gob
  dno_dir: /var/lib/vermouth/cache
  admin_api_username: admin
  admin_api_password: s3cr3t!
  telemetry_disabled: false
sti_pa:
  root_path: /var/lib/vermouth/certs/sti_pa/STI-PA_ROOT.pem
  crl_urls: ["https://authenticate-api.iconectiv.com/download/v1/crl"]
  api_base_url: https://authenticate-api.iconectiv.com/api/v1
  api_user_id: ""
  api_password: ""
sti_as:
  carrier_ocn: ""
  acme_prod_enabled: true
  acme_acct_key_file: /var/lib/vermouth/certs/acme/acme.key
  acme_acct_key_bound: false
  acme_acct_location_url: ""
  acme_eab_key_id: ""
  acme_eab_key_secret: ""
  acme_sti_pa_spc_token: ""
  acme_sti_pa_crl_uri: ""
  acme_sti_pa_crl_issuer: ""
  acme_crl_uri_fallback: https://authenticate-api.iconectiv.com/download/v1/crl
  acme_crl_issuer_fallback: L = Bridgewater, ST = NJ, CN = STI-PA CRL, C = US, O = STI-PA
  acme_dir: /var/lib/vermouth/certs/acme
sti_vs:
  strict_crl_handling: false
database:
  enabled: false
  host:
  port:
  db_name:
  username:
  password:
